<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="false" version="3.0">


	<session-config>
		<session-timeout>2</session-timeout>
	</session-config>

	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<filter>
		<filter-name>ExpiresFilter</filter-name>
		<filter-class>org.apache.catalina.filters.ExpiresFilter</filter-class>
		<init-param>
			<param-name>ExpiresByType image</param-name>
			<param-value>access plus 10 days</param-value>
		</init-param>
		<init-param>
			<param-name>ExpiresByType text/css</param-name>
			<param-value>access plus 10 hours</param-value>
		</init-param>
		<init-param>
			<param-name>ExpiresByType application/javascript</param-name>
			<param-value>access plus 10 minutes</param-value>
		</init-param>
		<!-- Let everything else expire immediately -->
		<init-param>
			<param-name>ExpiresDefault</param-name>
			<param-value>access plus 0 seconds</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>ExpiresFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<servlet>
		<servlet-name>ColorCodeOnStartupFunctionality</servlet-name>
		<servlet-class>z.y.x.r.ColorCodeOnStartupFunctionality</servlet-class>
		<load-on-startup>2</load-on-startup>

		<init-param>
			<param-name>colorcode</param-name>
			<param-value>colors.code</param-value>
		</init-param>
	</servlet>


<servlet>
		<servlet-name>TutorialFunctionality</servlet-name>
		<servlet-class>z.y.x.t.TutorialFunctionality</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TutorialFunctionality</servlet-name>
		<url-pattern>/TutorialFunctionality</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>StringFunctionality</servlet-name>
		<servlet-class>z.y.x.String.StringFunctionality</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StringFunctionality</servlet-name>
		<url-pattern>/StringFunctionality</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NetworkFunctionality</servlet-name>
		<servlet-class>z.y.x.Network.NetworkFunctionality</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NetworkFunctionality</servlet-name>
		<url-pattern>/NetworkFunctionality</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MDFunctionality</servlet-name>
		<servlet-class>z.y.x.Security.MDFunctionality</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MDFunctionality</servlet-name>
		<url-pattern>/MDFunctionality</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CipherFunctionality</servlet-name>
		<servlet-class>z.y.x.Security.CipherFunctionality</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CipherFunctionality</servlet-name>
		<url-pattern>/CipherFunctionality</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>JKSManagementFunctionality</servlet-name>
		<servlet-class>z.y.x.Security.JKSManagementFunctionality</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JKSManagementFunctionality</servlet-name>
		<url-pattern>/JKSManagementFunctionality</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CommandFunctionality</servlet-name>
		<servlet-class>z.y.x.Network.CommandFunctionality</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommandFunctionality</servlet-name>
		<url-pattern>/CommandFunctionality</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RunFunctionality</servlet-name>
		<servlet-class>z.y.x.f.RunFunctionality</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RunFunctionality</servlet-name>
		<url-pattern>/RunFunctionality</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ExecuteFunctionality</servlet-name>
		<servlet-class>z.y.x.f.ExecuteFunctionality</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExecuteFunctionality</servlet-name>
		<url-pattern>/ExecuteFunctionality</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SubnetFunctionality</servlet-name>
		<servlet-class>z.y.x.Network.SubnetFunctionality</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubnetFunctionality</servlet-name>
		<url-pattern>/SubnetFunctionality</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RSAFunctionality</servlet-name>
		<servlet-class>z.y.x.Security.RSAFunctionality</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RSAFunctionality</servlet-name>
		<url-pattern>/RSAFunctionality</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PBEFunctionality</servlet-name>
		<servlet-class>z.y.x.Security.PBEFunctionality</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PBEFunctionality</servlet-name>
		<url-pattern>/PBEFunctionality</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BCCryptFunctionality</servlet-name>
		<servlet-class>z.y.x.Security.BCCryptFunctionality</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BCCryptFunctionality</servlet-name>
		<url-pattern>/BCCryptFunctionality</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>GenCAFunctionality</servlet-name>
		<servlet-class>z.y.x.Security.GenCAFunctionality</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GenCAFunctionality</servlet-name>
		<url-pattern>/GenCAFunctionality</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PGPFunctionality</servlet-name>
		<servlet-class>z.y.x.Security.PGPFunctionality</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PGPFunctionality</servlet-name>
		<url-pattern>/PGPFunctionality</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ECFunctionality</servlet-name>
		<servlet-class>z.y.x.Security.ECFunctionality</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ECFunctionality</servlet-name>
		<url-pattern>/ECFunctionality</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>8gwifi APP on HTTPS</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<!-- auth-constraint goes here if you requre authentication -->
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>



</web-app>